#header {
  text-decoration: underline;
  color: crimson;
}

/* (***) */
:global(.font) {
  font-family: 'Redressed', cursive;
  font-size: xx-large;
}

img {
  width: 100px;
  object-fit: cover;
}

:global(.btn) {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: crimson;
  border: none;
}
